<%- include('partials/header') %>

<div class="container">
    <h1>Welcome to the Teacher Dashboard, <%= teacherN %>!</h1>
    <div class="button-group">
        <a href="/logout" class="btn btn-danger">Logout</a>
        <!-- Generate class code button -->
        <a href="/generateClassCode" class="btn btn-primary">Generate class code</a>
    </div>
</div>

<%- include('partials/footer') %>
